body {
	margin: 0px;
	paddig: 0px
	font-family: Arial, Helvetica, sans-serif;
}
.section-1 {
	background-color: #4158D0;
    background-image: linear-gradient(135deg, #0079bf, #5067c5);
    padding-bottom: 30px;
	
}
.mid-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	margin: 20%;
	text-align: center-left;
    margin-left: 20%;
	margin-right: 20%;
	margin-bottom: auto;
	margin-top: auto;	
	float: center;
}

a:visited {
	color: white;
}
a:hover {
	color: grey
}
a {
	text-decoration: none;
}

.logo_login {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}


#logo {
	width: 130px;
}
.signup {
  background-color: white;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  color: deepskyblue;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: .2rem;
}

.login {
	text-decoration: none;
}

.mid-section-text {
	flex: 1;	
	margin-right: 10%;    
}

#logo2 {
	flex: 1;
	width: 100%;
	height: auto;
}

#logo2_1 {
	width: 100%;
	height: auto;
}

#first {
	font-size: 40px;
	font-style: bold;
}

#second {
	font-size: 20px;
}

input[type="email"] {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: left;
  color: deepskyblue;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: .2rem;
  width: 300px;
  margin-right: 10px;
}

input[value="Sign up - It's Free!"] {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: .2rem;
}

.email-signup {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.section-2 {
	display: flex;
	flex-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

.headline-1 {
	font-size: 30px;
	font-style: bold;
}

#last-image {
	 width: 100%;
	 height: auto;
}

#start {
	background-color: #999999;
	color: white;
	border-radius: .2rem;
	padding-top: 7px;
	padding-bottom: 7px;
	border: none;
}

.section-2-text{
	margin-right: 10%;
}
